In [1]:
# import essential library
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [86]:
# top 250 movies of imdb link
url='https://www.imdb.com/chart/top/'

In [106]:
# create the dataframe
df=pd.DataFrame(columns=['Name','Release_year','Ratings'])

In [87]:
source=requests.get(url)

In [88]:
soup=BeautifulSoup(source.text,'html.parser')

In [167]:
movies=soup.find('tbody',class_='lister-list').find_all('tr')

In [168]:

for movies in movies:
    
    #top 250 movies 
    name=movies.find('td',class_='titleColumn').a.text
    
    
    R_yr=movies.find('span',class_='secondaryInfo').text
    
    Rat=movies.find('td',class_='ratingColumn imdbRating').text
    df=df.append({'Name':name,'Release_year':R_yr,'Ratings':Ratings},ignore_index=True)

In [169]:
df.shape

(500, 3)

In [170]:
df.to_csv('D:Imdb_data.csv')

In [171]:
df1=pd.read_csv('D:Imdb_data.csv')

In [173]:
df1.drop('Unnamed: 0',axis=1,inplace=True)

In [174]:
df1.head()

                       Name Release_year  Ratings
0  The Shawshank Redemption       (1994)      9.2
1             The Godfather       (1972)      9.2
2           The Dark Knight       (2008)      9.0
3     The Godfather Part II       (1974)      9.0
4              12 Angry Men       (1957)      8.9

In [176]:
# export the dataframe to csv file
df1.to_csv('D:imdb_data.csv',index=False)